# Metodologia

Partí da premissa de detecção de objetos e pela BBOX posso pegar o centroID do objeto detectado.
<h5>Arquitetura</h5>
Por questões de gerenciamento de tempo acabei optando por utilizar a Faster-RCNN(640x640, models-zoo TPU-8) da tensorflow Object Detection API, poderia também utilizar a tiny yolo.

<h5>Modelo</h5>
<p>Anexos 3 notebooks utilizados no google colab e 2 Arquivos .py</p>
<p>1-Geração de Records</p>
<p>2-Treinamento do Modelo</p>
<p>3-Restauração do modelo em .PB e Inferência nas imagens de teste</p>

<h5>Tentativas</h5>
<p>-Tentei utilizar o matchtemplate do openCV mas não fui bem sucedido, quanto mais padronizado for o objeto em outras imagens mais fácil é a deteclção via matchtemplate.</p>
    
<h5>Pré-Processamento</h5>
<p>-Não foi nescessário utilizar nenhuma técnica de préprocessamento.</p>
<p>-Check Shape __ OpenCV e o Labelme pode ter uma certa diferença no shape da imagem devido a orientação da anotação e por padrão nos records gerados utilizei o shape do labelme</p>
<p>-Apenas uma breve olhada no dataset e tinha umas 2 ou 3 imagens com a anotação errada e uma que não possuia anotação.</p>

In [3]:
import cv2
import numpy as np
import json
import pandas as pd

In [4]:
file = json.loads(open("./TrainingSet/wally_001.json").read())

In [5]:
print(file.keys())

dict_keys(['version', 'flags', 'lineColor', 'fillColor', 'imagePath', 'imageData', 'imageHeight', 'imageWidth', 'shapes'])

In [6]:
print(file["shapes"][0]["points"])

[[750, 260], [533, 567], [697, 680], [916, 388]]

In [7]:
print(file["imageHeight"])
print(file["imageWidth"])

790
1000

In [8]:
df = pd.read_csv("./ReferenceData/wheres_wally_train.csv")

In [35]:
df

     wally_000.jpg  555  574
0    wally_001.jpg  724  473
1    wally_002.jpg  143  913
2    wally_003.jpg  465  912
3    wally_006.jpg  420  548
4    wally_007.jpg   78  564
..             ...  ...  ...
114  wally_143.jpg  192  177
115  wally_144.jpg  164   98
116  wally_146.jpg  485  339
117  wally_147.jpg  524  785
118  wally_148.jpg  505  263

[119 rows x 3 columns]

In [12]:
import glob

In [26]:
jsons = glob.glob("./TrainingSet/*.json")
print(len(jsons))

120

In [27]:
imagens = glob.glob("./TrainingSet/*.jpg")
print(len(imagens))

120

In [28]:
for i in imagens:
    name = i.split("jpg")[0]+"json"
    if name not in jsons:
        print(i)

In [1]:
#ajuste no CSV dos resultados
import pandas as pd

In [4]:
df = pd.read_csv("./Results/wally.csv")

In [6]:
df.columns

Index(['Unnamed: 0', 'Image', 'Points'], dtype='object')

In [7]:
del df['Unnamed: 0']

In [15]:
df["Points"]

0     dict_values([(645, 333)])
1     dict_values([(361, 346)])
2     dict_values([(124, 187)])
3     dict_values([(281, 399)])
4     dict_values([(318, 153)])
5     dict_values([(408, 452)])
6     dict_values([(493, 244)])
7      dict_values([(150, 85)])
8     dict_values([(505, 215)])
9     dict_values([(297, 394)])
10    dict_values([(101, 818)])
11    dict_values([(101, 173)])
12    dict_values([(536, 485)])
13    dict_values([(734, 167)])
14    dict_values([(660, 466)])
15    dict_values([(597, 233)])
16    dict_values([(385, 273)])
17    dict_values([(481, 310)])
18    dict_values([(230, 370)])
19    dict_values([(763, 710)])
20    dict_values([(159, 397)])
21    dict_values([(305, 136)])
22    dict_values([(394, 474)])
23    dict_values([(814, 689)])
24    dict_values([(815, 857)])
25    dict_values([(101, 537)])
26    dict_values([(616, 504)])
27    dict_values([(738, 246)])
28    dict_values([(418, 789)])
29    dict_values([(765, 599)])
Name: Points, dtype: object